<div class="content-login">
    <div class="row container-fluid" style="padding: 0; margin: 0;">
        <div class="col-md-8" style="padding: 0; margin: 0;"> 
            <img src="../../../img/image 2.png" style="background-color: blue;" class="img-fluid" alt="">
        </div>
        <div class="col-md-4 p-5 align-self-center">
            <img src="../../../img/logo.png" class="img-fluid mb-3" alt="">
            <h4 class="fw-bold mb-4"><%=title %></h4>
            <% if(locals.logout) { %>
                <div class="alert alert-success" role="alert">
                   <%=logout %>
                </div>

            <% }%>
            <form action="/login" method="POST">
                <div class="form-group mb-4">
                    <label for="" class="form-label">Email</label>
                    <input type="text" name="email" class="form-control p-2" id="" placeholder="contoh : binar@gmail.com">
                </div>
                <div class="form-group mb-4">
                    <label for="" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control p-2" id="" placeholder="6+ Karakter">
                </div>
                <div class="form-group mb-4">
                    <button type="submit" class="btn btn-primary w-100 p-3 fw-bold">Sign In</button>
                </div>
            </form>
        </div>
        
    </div>
</div>