<div class="root container-fluid bg-light d-flex justify-content-center align-items-center">
    <h1>404 Not Found</h1>
    <p>The page that your're looking for doesn't exist !</p>
    <a href="" class="btn btn-sm btn-dark" >Go to Dashboard</a>
</div>