<div class="px-0 py-4">
    <a href="/dashboard/post/create" class="btn btn-large btn-success">Create Post</a>
    <div class="list-group">
        <% data.posts.forEach(i => { %>
            <div class="list-group-item">
                <a href=""></a>
            </div>
        <% }>) %>
    </div>
</div>