<nav id="sidebar">
    <div class="sidebar-header ">
        <img src="../../../img/logo.png" class="img-fluid w-25" alt="">

    </div>

    <ul class="list-unstyled components ">
        <p class="px-5 my-4"><%=title%></p>
        <li class="active">
            <a href="/"><%=subTitle%></a>
        </li>
    </ul>

</nav>
<nav id="sidebar-second">
    <div class="sidebar-header">
        <img src="../../../img/logo2.png" class="img-fluid w-50" alt="">
        <!-- <h3>Bootstrap Sidebar</h3> -->
    </div>

    <ul class="list-unstyled components">
        <!-- <p>Dummy Heading</p> -->
        
        <li>
            <a href="/dashboard" class="">
                <img src="../../../img/fi_home.svg" alt="" class="p-2" srcset="">
                Dashboard
            </a>
        </li>
        <li>
            <a href="/cars" class="">
                <img src="../../../img/fi_truck.svg" class="p-2" alt=""><br>
                <!-- <i class="fas fa-truck"></i><br> -->
                Cars
            </a>
        </li>
        
    </ul>

</nav>